<!-- styles -->
<style>
  .alert-box {
    position: fixed;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 1;
  }

  #close {
    cursor: pointer;
  }
</style>

<!-- alert box -->
<% if (alert.length> 0) { %>
<div class="<%= alert[0].color %> alert-box">
  <p class="mb-0 text-white ls-widest d-inline">
    <%= alert[0].message %>
  </p>
  <span class="ms-5 p-2 fw-bold text-white" id="close">✕</span>
</div>
<% } %>

<!-- javaScript -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
    // hide the alert box after 5 seconds
    const alertBox = document.getElementsByClassName('alert-box')[0];

    setTimeout(() => {
      alertBox.style.display = 'none';
    }, 5000);

    // dynamically adds top to alert box
    const navHeight3 = document.getElementsByTagName('nav')[0].offsetHeight;
    document.getElementsByClassName('alert-box')[0].style.top = `${navHeight3 - 1}px`;

    // for manually closing the alert box
    document.getElementById('close').addEventListener('click', function () {
      alertBox.style.display = 'none';
    });
  });
</script>