<!-- footer -->
<footer class="position-fixed start-0 bottom-0 w-100 bg-light">
  <div class="container-fluid mt">
    <p class="w-100 border-top border-dark text-center mx-auto p-4 mb-0">Puzzle Box &#169; <span id="year"></span>, All Rights Reserved</p>
  </div>
</footer>

<!-- javaScript -->
<script>
  // script for changing year dynamically
  document.getElementById('year').innerText = new Date().getFullYear();
</script>