<!-- footer -->
<footer>
  <div class="container-fluid mt-4">
    <p class="w-75 border-top border-dark-subtle text-center mx-auto p-4">Puzzle Box &#169; <span id="year"></span>, All Rights Reserved</p>
  </div>
</footer>

<script>
  // script for changing year dynamically
  document.getElementById('year').innerText = new Date().getFullYear();
</script>