<footer>
  <div class="container-fluid mt-4">
    <p class="w-75 border-top border-dark-subtle text-center mx-auto p-4">Puzzle Box &#169; <span id="para"></span>, All Rights Reserved</p>
  </div>
</footer>

<script>
  document.getElementById('para').innerText = new Date().getFullYear();
</script>