<style>
  .form-container {
    background-image: url('/image/bg.webp'); /* Replace with your image URL */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 72vh;
    margin-top: .9375rem;
  }

  .login-container {
    background: rgba(255, 255, 255, 0.5);
    padding: 1.875rem;
    border-radius: .9375rem;
    box-shadow: 0 0 .625rem rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
  }

  .form-control {
    color: rgb(255, 255, 255);
    border-radius: 1.25rem;
  }

  .form-control::placeholder {
    color: rgba(255, 255, 255, .5);
  }

  .form-control:focus {
    outline: none;
    box-shadow: none;
    border-color: transparent;
    color: rgb(255, 255, 255);
  }

  .input-group:hover {
    cursor: pointer;
  }
</style>

<%- include('navbar') %>

<!-- container which holds login form -->
<div class="form-container">
  <div class="container d-flex justify-content-center align-items-center h-100">
    <!-- login form -->
    <div class="login-container text-center pt-4 px-4">
      <h2 class="fw-medium lh-base">Admin Login</h2>
      <p>Welcome Back!</p>
      <form method="post" action="/admin/login">
        <div class="form-group">
          <input type="email" name="username" class="form-control pe-5 bg-dark" placeholder="Email Address" required>
        </div>
        <div class="input-group mt-3">
          <input type="password" name="password" class="form-control pe-5 bg-dark border-end-0" placeholder="Password" id="password" required>
          <span class="input-group-text bg-dark rounded-end-pill" id="togglePassword">
            <i class="fad fa-eye-slash" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i>
          </span>
        </div>
        <button type="submit" class="btn btn-dark btn-block rounded-pill mt-4">Login</button>
      </form>
    </div>
  </div>
</div>

<%- include('footer') %>

<!-- script for toggling password visibility -->
<script>
  document.getElementById('togglePassword').addEventListener('click', function (e) {
    const type = document.getElementById('password').getAttribute('type') === 'password' ? 'text' : 'password';

    document.getElementById('password').setAttribute('type', type);
    document.querySelector('i').classList.toggle('fa-eye');
    document.querySelector('i').classList.toggle('fa-eye-slash');
  });
</script>