<style>
  
</style>

<!-- navbar -->
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3 mx-auto border-bottom border-black w-75 text-center" href="#">PUZZLE BOX</a>
  </div>
</nav>

<%- include('alert') %>