<style>
  
</style>

<!-- navbar -->
<nav class="navbar">
  <div class="container-fluid border-bottom border-black">
    <a class="navbar-brand fw-bold fs-3 mx-auto" href="#">PUZZLE BOX</a>
  </div>
</nav>

<%- include('alert') %>