<!-- navbar -->
<nav class="navbar">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-3 mx-auto border-bottom border-light-subtle w-75 text-center p-3" href="#">PUZZLE BOX</a>
  </div>
</nav>

<%- include('alert') %>