<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- General Open Graph Tags -->
  <meta property="og:title" content="Puzzle Box">
  <meta property="og:description" content="Your Puzzle Partner!">
  <meta property="og:url" content="/image/website-img-og.jpg">
  <meta property="og:type" content="website">

  <!-- Image Meta Tag -->
  <meta property="og:image" content="/image/website-img-og.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">

  <!-- Twitter Card Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Puzzle Box">
  <meta name="twitter:description" content="Your Puzzle Partner!">
  <meta name="twitter:image" content="/image/website-img-twitter.jpg">

  <title>
    <%= title %>
  </title>
  <link rel="shortcut icon" href="/image/favicon.svg" type="image/x-icon">
  <link rel="stylesheet" href="/style/style.css">
  <!-- Font Awesome -->
  <link href="https://cdn.jsdelivr.net/gh/aquawolf04/font-awesome-pro@5cd1511/css/all.css" rel="stylesheet" type="text/css" />
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
  <!-- MDB -->
  <link href="/mdb-ui-kit/css/mdb.min.css" rel="stylesheet" />
  <!-- cropper.js css -->
  <link href="/cropperjs/dist/cropper.min.css" rel="stylesheet">
</head>

<body>
  <%- body %>

  <!-- cropper js -->
  <script src="/cropperjs/dist/cropper.min.js"></script>
  <!-- MDB -->
  <script src="/mdb-ui-kit/js/mdb.min.js"></script>
  <!-- sweet alert -->
  <script src="/sweetalert/sweetalert2.all.min.js"></script>
  <!-- chart js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>