<!-- styles -->
<style>
  .form-container {
    background-image: url('/image/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  form {
    backdrop-filter: blur(8px);
  }

  input {
    color: black !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent !important;
  }

  small {
    display: none;
    font-size: .75rem;
  }
</style>

<!-- navbar included -->
<%- include('navbar') %>

<!-- form container -->
<div class="d-flex vh-100 form-container justify-content-center align-items-center">
  <!-- signup form -->
  <form id="form" class="w-auto ps-4 pe-4 form-control bg-opacity-25 bg-light pt-4 pb-4 rounded-9 ms-3 me-3" method="post" action="/change-password">
    <h3 class="text-center mb-4 text-dark fw-bold">ENTER NEW PASSWORD!</h3>

    <!-- Password input -->
    <div id="password1" class="input-group mb-4">
      <div class="form-outline" data-mdb-input-init>
        <input id="password-input1" type="password" class="form-control" name="password" />
        <label class="form-label" for="form1">Password</label>
        <small id="password-alert1" class="position-absolute text-danger"></small>
      </div>
      <button data-mdb-ripple-init id="password-button1" type="button" class="btn btn-dark shadow-0 w-25">
        <i id="eye1" class="fa-duotone fa-eye-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>
      </button>
    </div>

    <div class="input-group mb-4">
      <div class="form-outline" data-mdb-input-init>
        <input id="password-input2" type="password" class="form-control" name="confirmPassword" />
        <label class="form-label" for="form1">Confirm Password</label>
        <small id="password-alert2" class="position-absolute text-danger"></small>
      </div>
      <button data-mdb-ripple-init id="password-button2" type="button" class="btn btn-dark shadow-0 w-25">
        <i id="eye2" class="fa-duotone fa-eye-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>
      </button>
    </div>

    <!-- submit button -->
    <input data-mdb-ripple-init type="submit" class="btn btn-dark btn-block text-white" value="submit">
  </form>
</div>

<!-- footer included -->
<%- include('footer') %>

<!-- javaScript -->
<script>
  // script for form validation
  document.getElementById('form').addEventListener('submit', function(e) {
    e.preventDefault();

    const password = document.getElementById('password-input1').value;
    const confirmPassword = document.getElementById('password-input2').value;

    const passwordAlert1 = document.getElementById('password-alert1');
    const passwordAlert2 = document.getElementById('password-alert2');

    passwordAlert1.style.display = 'none';
    passwordAlert2.style.display = 'none';

    if (password === '' || !/[a-z]/.test(password) || !/[A-Z]/.test(password) || !/[^\w\s]/.test(password) || !/\d/.test(password) || /\s/.test(password) || password.length < 8 || password.length > 30) {
      passwordAlert1.style.width = window.getComputedStyle(document.getElementById('password1')).width;
      if (password === '') {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password is required`;
      } else if (!/[a-z]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must be case-sensitive`;
      } else if (!/[A-Z]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must be case-sensitive`;
      } else if (!/[^\w\s]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must contain a special character`;
      } else if (!/\d/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must contain a number`;
      } else if (/\s/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password can't contain spaces`;
      } else if (password.length < 8) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password minimum length is 8`;
      } else {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password maximum length is 30`;
      }
    } else if (password !== confirmPassword) {
      passwordAlert2.style.display = 'inline';
      passwordAlert2.innerText = `Passwords mismatch`;
    } else {
      this.submit();
    }
  });

  // will focus on all input elements with value when page shows
  window.addEventListener('pageshow', function(event) {
    const inputs = document.querySelectorAll('input');

    inputs.forEach(ele => {
      if (ele.value !== '' && ele.value !== 'sign up') ele.focus();
    });
  });

  // script for toggling password visibility
  document.getElementById('password-button1').addEventListener('click', function(e) {
    const type = document.getElementById('password-input1').getAttribute('type') === 'password' ? 'text' : 'password';

    document.getElementById('password-input1').setAttribute('type', type);
    document.getElementById('eye1').classList.toggle('fa-eye');
    document.getElementById('eye1').classList.toggle('fa-eye-slash');
  });

  document.getElementById('password-button2').addEventListener('click', function(e) {
    const type = document.getElementById('password-input2').getAttribute('type') === 'password' ? 'text' : 'password';

    document.getElementById('password-input2').setAttribute('type', type);
    document.getElementById('eye2').classList.toggle('fa-eye');
    document.getElementById('eye2').classList.toggle('fa-eye-slash');
  });
</script>