<!-- styles -->
<style>
  footer .text-decoration-underline:hover {
    text-decoration: none !important;
  }
</style>

<!-- Footer -->
<footer class="bg-body-tertiary text-center">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a data-mdb-ripple-init class="btn btn-outline btn-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f fa-lg" style="color: #ffffff;"></i></a>

      <!-- Twitter -->
      <a data-mdb-ripple-init class="btn btn-outline btn-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter fa-lg" style="color: #ffffff;"></i></a>

      <!-- Instagram -->
      <a data-mdb-ripple-init class="btn btn-outline btn-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram fa-lg" style="color: #ffffff;"></i></a>

      <!-- Linkedin -->
      <a data-mdb-ripple-init class="btn btn-outline btn-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in fa-lg" style="color: #ffffff;"></i></a>

      <!-- Github -->
      <a data-mdb-ripple-init class="btn btn-outline btn-dark btn-floating m-1" href="#!" role="button"><i class="fab fa-github fa-lg" style="color: #ffffff;"></i></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
        "Discover a world of puzzles that challenge your mind and ignite your creativity. From brain teasers to jigsaw
        puzzles, we have something for every enthusiast."
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">company</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">About</a>
            </li>
            <li>
              <a class="text-body" href="#!">Features</a>
            </li>
            <li>
              <a class="text-body" href="#!">Works</a>
            </li>
            <li>
              <a class="text-body" href="#!">Career</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">help</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Customer Support</a>
            </li>
            <li>
              <a class="text-body" href="#!">Delivery Details</a>
            </li>
            <li>
              <a class="text-body" href="#!">Terms & Conditions</a>
            </li>
            <li>
              <a class="text-body" href="#!">Privacy Policy</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">faq</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Account</a>
            </li>
            <li>
              <a class="text-body" href="#!">Manage Deliveries</a>
            </li>
            <li>
              <a class="text-body" href="#!">Orders</a>
            </li>
            <li>
              <a class="text-body" href="#!">Payments</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">resources</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a class="text-body" href="#!">Free eBooks</a>
            </li>
            <li>
              <a class="text-body" href="#!">Development Tutorial</a>
            </li>
            <li>
              <a class="text-body" href="#!">How to - Blog</a>
            </li>
            <li>
              <a class="text-body" href="#!">Youtube Playlist</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Section: Copyright -->
  <section class="ps-5 pe-5 pb-4 pt-0">
    <div class="row d-flex align-items-center justify-content-around border-top">
      <!-- Grid column -->
      <div class="col-md-6 col-lg-8 text-center text-md-start px-0">
        <!-- Copyright -->
        <div class="p-3 px-0">
          © <span id="year"></span>: <a class="text-dark text-decoration-underline" href="https://puzzlebox.shop/">puzzlebox.shop</a>
        </div>
        <!-- Copyright -->
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end px-0">
        <!-- google pay -->
        <i class="fa-brands fa-google-pay fa-2xl" style="color: #000000;"></i>

        <!-- mastercard -->
        <i class="fa-brands fa-cc-mastercard fa-2xl ms-2" style="color: #000000;"></i>

        <!-- visa -->
        <i class="fa-brands fa-cc-visa fa-2xl ms-2" style="color: #000000;"></i>

        <!-- apple pay -->
        <i class="fa-brands fa-cc-apple-pay fa-2xl ms-2" style="color: #000000;"></i>

        <!-- paypal -->
        <i class="fa-brands fa-cc-paypal fa-2xl ms-2" style="color: #000000;"></i>
      </div>
      <!-- Grid column -->
    </div>
  </section>
  <!-- Section: Copyright -->
</footer>
<!-- Footer -->

<!-- javaScript -->
<script>
  // script for updating year
  document.getElementById('year').innerText = new Date().getFullYear();
</script>