<!-- styles -->
<style>
  .form-container {
    background-image: url('/image/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  form {
    backdrop-filter: blur(8px);
  }

  input {
    color: black !important;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px transparent !important;
  }

  small {
    display: none;
    font-size: .75rem;
  }
</style>

<!-- navbar included -->
<%- include('navbar') %>

  <!-- form container -->
  <div class="d-flex vh-100 form-container justify-content-center align-items-center">
    <!-- signup form -->
    <form id="form" class="w-auto ps-4 pe-4 form-control bg-opacity-25 bg-light pt-4 pb-4 rounded-9 ms-3 me-3">
      <h3 class="text-center mb-4 text-dark fw-bold">ENTER YOUR EMAIL</h3>

      <!-- Email input -->
      <div data-mdb-input-init class="form-outline mb-4">
        <input type="text" id="email-input" class="form-control" name="email" />
        <label class="form-label" for="form3Example3">Email</label>
        <small id="email-alert" class="position-absolute text-danger"></small>
      </div>

      <!-- submit button -->
      <input data-mdb-ripple-init type="submit" class="btn btn-dark btn-block text-white" value="submit">
  </div>
  </form>
  </div>

  <!-- footer included -->
  <%- include('footer') %>

    <!-- javaScript -->
    <script>
      // using fetch to handle forgot password
      document.getElementById('form').addEventListener('submit', function (e) {
        e.preventDefault();

        const email = document.getElementById('email-input').value;
        const emailAlert = document.getElementById('email-alert');

        fetch('/forgot-password', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({email})
        }).then(response => response.json())
        .then(data => {
          if (data.error) {
            emailAlert.style.display = 'inline';
            emailAlert.innerText = 'Something went wrong. Try again';
          } else if (data.notValid) {
            emailAlert.style.display = 'inline';
            emailAlert.innerText = 'Wrong email';
          } else {
            e.submit();
          }
        })
      });

      // will focus on all input elements with value when page shows
      window.addEventListener('pageshow', function (event) {
        const inputs = document.querySelectorAll('input');

        inputs.forEach(ele => {
          if (ele.value !== '' && ele.value !== 'submit') ele.focus();
        });
      });
    </script>