<style>
  .form-container {
    background-image: url('/image/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text-decoration-underline:hover {
    text-decoration: none !important;
  }
</style>

<%- include('navbar') %>

<div class="d-flex vh-100 form-container justify-content-center align-items-center">
  <form class="w-auto ps-4 pe-4 form-control bg-opacity-25 bg-light pt-4 pb-4 rounded-9 ms-3 me-3">
    <h3 class="text-center mb-4 text-dark fw-bold">Create a new account!</h3>
    <!-- 2 column grid layout with text inputs for the first and last names -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form3Example1" class="form-control" />
          <label class="form-label" for="form3Example1">Full name</label>
        </div>
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="form3Example2" class="form-control" />
          <label class="form-label" for="form3Example2">Phone Number</label>
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="email" id="form3Example3" class="form-control" />
      <label class="form-label" for="form3Example3">Email address</label>
    </div>

    <!-- Password input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" id="form3Example4" class="form-control" />
      <label class="form-label" for="form3Example4">Password</label>
    </div>

    <div data-mdb-input-init class="form-outline mb-4">
      <input type="password" id="form3Example5" class="form-control" />
      <label class="form-label" for="form3Example5">Confirm Password</label>
    </div>    

    <!-- Submit button -->
    <button data-mdb-ripple-init type="button" class="btn btn-dark btn-block mb-4">Sign up</button>

    <!-- Register buttons -->
    <div class="text-center text-dark">
      <p>Not a member? <a href="#!" class="text-dark text-decoration-underline" id="login">Login In</a></p>
      <p>or sign up with:</p>     
      <button data-mdb-ripple-init type="button" class="btn btn-dark btn-floating mx-1">
        <i class="fa-brands fa-google fa-lg" style="color: #ffffff;"></i>
      </button>
    </div>
  </form>
</div>