<!-- styles -->
<style>
  .form-container {
    background-image: url('/image/bg.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .text-decoration-underline:hover {
    text-decoration: none !important;
  }

  form {
    backdrop-filter: blur(8px);
  }

  input {
    color: black !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
  }

  small {
    font-size: .75rem;
  }
</style>

<!-- navbar included -->
<%- include('navbar') %>

<!-- form container -->
<div class="d-flex vh-100 form-container justify-content-center align-items-center">
  <!-- signup form -->
  <form id="form" class="w-auto ps-4 pe-4 form-control bg-opacity-25 bg-light pt-4 pb-4 rounded-9 ms-3 me-3" method="post" action="/signup"> 
    <h3 class="text-center mb-4 text-dark fw-bold">CREATE A NEW ACCOUNT!</h3>
    <!-- name and phone input -->
    <div class="row mb-4">
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="name-input" class="form-control" name="name"/>
          <label class="form-label" for="form3Example1">Full Name</label>
        </div>     
        <small id="name-phone-alert" class="position-absolute text-danger"></small>  
      </div>
      <div class="col">
        <div data-mdb-input-init class="form-outline">
          <input type="text" id="phone-input" class="form-control" name="phone"/>
          <label class="form-label" for="form3Example2">Phone Number</label>
        </div>
      </div>
    </div>

    <!-- Email input -->
    <div data-mdb-input-init class="form-outline mb-4">
      <input type="text" id="email-input" class="form-control" name="email"/>
      <label class="form-label" for="form3Example3">Email Address</label>
      <small id="email-alert" class="position-absolute text-danger"></small>
    </div>

    <!-- Password input -->
    <div class="input-group mb-4">
      <div class="form-outline" data-mdb-input-init>
        <input id="password-input1" type="password" class="form-control" name="password"/>
        <label class="form-label" for="form1">Password</label>
        <small id="password-alert1" class="position-absolute text-danger"></small>
      </div>
      <button data-mdb-ripple-init id="password-button1" type="button" class="btn btn-dark shadow-0 w-25">
        <i id="eye1" class="fa-duotone fa-eye-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>
      </button>
    </div>

    <div class="input-group mb-4">
      <div class="form-outline" data-mdb-input-init>
        <input id="password-input2" type="password" class="form-control" name="confirmPassword"/>
        <label class="form-label" for="form1">Confirm Password</label>
      </div>
      <button data-mdb-ripple-init id="password-button2" type="button" class="btn btn-dark shadow-0 w-25">
        <i id="eye2" class="fa-duotone fa-eye-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff; --fa-secondary-opacity: 1;"></i>
      </button>
      <small id="password-alert2" class="position-absolute text-danger"></small>
    </div>    

    <!-- submit input -->
    <input data-mdb-ripple-init type="submit" class="btn btn-dark btn-block text-white" value="sign up">

    <div class="text-center text-dark mt-4">
      <p>Already a member? <a href="#!" class="text-dark text-decoration-underline" id="login">Log In</a></p>
      <!-- google signup -->
      <p>or sign up with:</p>     
      <button data-mdb-ripple-init type="button" class="btn btn-dark btn-floating mx-1">
        <i class="fa-brands fa-google fa-lg" style="color: #ffffff;"></i>
      </button>
    </div>
  </form>
</div>

<!-- footer included -->
<%- include('footer') %>

<!-- javaScript -->
<script>
  // script for form validation
  document.getElementById('form').addEventListener('submit', function (e) {
    const name = document.getElementById('name-input').value;
    const phone = document.getElementById('phone-input').value;
    const email = document.getElementById('email-input').value;
    const password = document.getElementById('password-input1').value;
    const confirmPassword = document.getElementById('password-input2').value;

    const namePhoneAlert = document.getElementById('name-phone-alert');
    const emailAlert = document.getElementById('email-alert');
    const passwordAlert1 = document.getElementById('password-alert1');
    const passwordAlert2 = document.getElementById('password-alert2');

    namePhoneAlert.style.display = 'none';
    emailAlert.style.display = 'none';
    passwordAlert1.style.display = 'none';
    passwordAlert2.style.display = 'none';

    passwordAlert1.style.width = window.getComputedStyle(document.getElementById('password-alert1')).width;
    console.log(passwordAlert1.style.width);

    if (name === '' || /[^\w\s]/.test(name) || /\d/.test(name) || /^\s|\s{2,}|\s$/.test(name) || name.replace(/\s+/g, '').length < 3 || name.replace(/\s+/g, '').length > 15) {
      if (name === '') {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = 'Username is required';
        e.preventDefault();
      } else if (/[^\w\s]/.test(name)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Username can't contain special characters`;
        e.preventDefault();
      } else if (/\d/.test(name)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Username can't contain numbers`;
        e.preventDefault();
      } else if (/^\s|\s{2,}|\s$/.test(name)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Username can't contain unwanted spaces`;
        e.preventDefault();
      } else if (name.replace(/\s+/g, '').length < 3) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Username minimum length is 3`;
        e.preventDefault();
      } else {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Username maximum length is 15`;
        e.preventDefault();
      }
    } else if (phone === '' || /[a-zA-Z]/.test(phone) || /[^\w\s]/.test(phone) || /\s/.test(phone) || phone.length !== 10) {
      if (phone === '') {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Phone number is required`;
        e.preventDefault();
      } else if (/[a-zA-Z]/.test(phone)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Phone number can't contain alphabets`;
        e.preventDefault();
      } else if (/[^\w\s]/.test(phone)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Phone number can't contain special characters`;
        e.preventDefault();
      } else if (/\s/.test(phone)) {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Phone number can't contain spaces`;
        e.preventDefault();
      } else {
        namePhoneAlert.style.display = 'inline';
        namePhoneAlert.innerText = `Phone number length must be 10`;
        e.preventDefault();
      }
    } else if (email === '' || !/^[a-zA-Z0-9._%+-]+@gmail\.com$/.test(email)) {
      if (email === '') {
        emailAlert.style.display = 'inline';
        emailAlert.innerText = `Email is required`;
        e.preventDefault();
      } else {
        emailAlert.style.display = 'inline';
        emailAlert.innerText = `Email format is invalid`;
        e.preventDefault();
      }
    } else if (password === '' || !/[a-z]/.test(password) || !/[A-Z]/.test(password) || !/[^\w\s]/.test(password) || !/\d/.test(password) || /\s/.test(password) || password.length < 8 || password.length > 30) {
      if (password === '') {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password is required`;
        e.preventDefault();
      } else if (!/[a-z]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must be case-sensitive`;
        e.preventDefault();
      } else if (!/[A-Z]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password must be case-sensitive`;
        e.preventDefault();
      } else if (!/[^\w\s]/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password should contain a special character`;
        e.preventDefault();
      } else if (!/\d/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password should contain a number`;
        e.preventDefault();
      } else if (/\s/.test(password)) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password can't contain spaces`;
        e.preventDefault();
      } else if (password.length < 8) {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password minimum length is 8`;
        e.preventDefault();
      } else {
        passwordAlert1.style.display = 'inline';
        passwordAlert1.innerText = `Password maximum length is 30`;
        e.preventDefault();
      }
    } else if (confirmPassword === '' || !/[a-z]/.test(confirmPassword) || !/[A-Z]/.test(confirmPassword) || !/[^\w\s]/.test(confirmPassword) || !/\d/.test(confirmPassword) || /\s/.test(confirmPassword) || confirmPassword.length < 8 || confirmPassword.length > 30) {
      if (confirmPassword === '') {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password is required`;
        e.preventDefault();
      } else if (!/[a-z]/.test(confirmPassword)) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password must be case-sensitive`;
        e.preventDefault();
      } else if (!/[A-Z]/.test(confirmPassword)) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password must be case-sensitive`;
        e.preventDefault();
      } else if (!/[^\w\s]/.test(confirmPassword)) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password should contain a special character`;
        e.preventDefault();
      } else if (!/\d/.test(confirmPassword)) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password should contain a number`;
        e.preventDefault();
      } else if (/\s/.test(confirmPassword)) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password can't contain spaces`;
        e.preventDefault();
      } else if (confirmPassword.length < 8) {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password minimum length is 8`;
        e.preventDefault();
      } else {
        passwordAlert2.style.display = 'inline';
        passwordAlert2.innerText = `Password maximum length is 30`;
        e.preventDefault();
      }
    } else if (password !== confirmPassword) {
      passwordAlert2.style.display = 'inline';
      passwordAlert2.innerText = `Passwords mismatch`;
      e.preventDefault();
    }
  });

  // script for toggling password visibility
  document.getElementById('password-button1').addEventListener('click', function (e) {
    const type = document.getElementById('password-input1').getAttribute('type') === 'password' ? 'text' : 'password';
    
    document.getElementById('password-input1').setAttribute('type', type);
    document.getElementById('eye1').classList.toggle('fa-eye');
    document.getElementById('eye1').classList.toggle('fa-eye-slash');
  });

  document.getElementById('password-button2').addEventListener('click', function (e) {
    const type = document.getElementById('password-input2').getAttribute('type') === 'password' ? 'text' : 'password';
    
    document.getElementById('password-input2').setAttribute('type', type);
    document.getElementById('eye2').classList.toggle('fa-eye');
    document.getElementById('eye2').classList.toggle('fa-eye-slash');
  });
</script>