<!-- ------------------------ testimonials section ------------------------- -->
<section>
  <div class="container mt-md-4 pt-5 px-4 px-sm-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">What Our Customers Are Saying...</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          "Puzzle Experiences You'll Love!"
        </p>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 mb-5 mb-md-0">
        <h5 class="mb-3" id="name-one"></h5>
        <p class="px-xl-3" id="review-one">
          <i class="fas fa-quote-left pe-2"></i>
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star-half-alt fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-5 mb-md-0">
        <h5 class="mb-3" id="name-two"></h5>
        <p class="px-xl-3" id="review-two">
          <i class="fas fa-quote-left pe-2"></i>
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
      <div class="col-md-4 mb-0">
        <h5 class="mb-3" id="name-three"></h5>
        <p class="px-xl-3" id="review-three">
          <i class="fas fa-quote-left pe-2"></i>
        </p>
        <ul class="list-unstyled d-flex justify-content-center mb-0">
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="fas fa-star fa-sm text-warning"></i>
          </li>
          <li>
            <i class="far fa-star fa-sm text-warning"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------- javaScript ------------------------------ -->
<script>
document.addEventListener("DOMContentLoaded", function() {
  fetch('/update-testimonial', {
    method: 'POST'
  }).then(response => response.json())
  .then(data => {
    const nameOne = document.querySelector('#name-one');
    const nameTwo = document.querySelector('#name-two');
    const nameThree = document.querySelector('#name-three');
    const reviewOne = document.querySelector('#review-one');
    const reviewTwo = document.querySelector('#review-two');
    const reviewThree = document.querySelector('#review-three');

    if (data.topRatedReviews) {      
      nameOne.innerHTML = data.topRatedReviews[0].userID.name;
      reviewOne.innerHTML = data.topRatedReviews[0].description;

      nameTwo.innerHTML = data.topRatedReviews[1].userID.name;
      reviewTwo.innerHTML = data.topRatedReviews[1].description;

      nameThree.innerHTML = data.topRatedReviews[2].userID.name;
      reviewThree.innerHTML = data.topRatedReviews[2].description;
    }
  })
});
</script>
<!-- ----------------------------------------------------------------------- -->