<!-- ------------------------ testimonial section ------------------------- -->
<section id="reviews-section">
  <div class="container mt-md-4 pt-5 px-4 px-sm-2">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10 col-xl-8 text-center">
        <h3 class="mb-4">What Our Customers Are Saying...</h3>
        <p class="mb-4 pb-2 mb-md-5 pb-md-0">
          "Puzzle Experiences You'll Love!"
        </p>
      </div>
    </div>

    <div class="row text-center justify-content-center" id="reviews-row">
      <!-- dynamic content will be inserted here -->
    </div>
  </div>
</section>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------- javaScript ------------------------------ -->
<script>
  document.addEventListener("DOMContentLoaded", function() {
    fetch('/update-testimonial', {
        method: 'POST'
      }).then(response => response.json())
      .then(data => {
        const topRatedReviews = data.topRatedReviews;

        if (topRatedReviews.length > 0) {
          const reviewsRow = document.getElementById("reviews-row");

          function createStarRating(rating) {
            const fullStars = rating;
            const halfStar = rating % 1 ? true : false;
            let starsHtml = '';

            for (let i = 0; i < fullStars; i++) {
              starsHtml += '<i class="fas fa-star fa-sm text-warning"></i>';
            }

            if (halfStar) {
              starsHtml += '<i class="fas fa-star-half-alt fa-sm text-warning"></i>';
            }

            for (let i = fullStars + (halfStar ? 1 : 0); i < 5; i++) {
              starsHtml += '<i class="far fa-star fa-sm text-warning"></i>';
            }

            return starsHtml;
          }

          topRatedReviews.forEach((reviewData, index) => {
            const colDiv = document.createElement("div");

            if (index !== topRatedReviews.length - 1) {
              colDiv.className = "col-md-4 mb-md-0 mb-5";
            } else {
              colDiv.className = "col-md-4 mb-md-0";
            }

            colDiv.innerHTML = `
      <h5 class="mb-3">${reviewData.userID.name}</h5>
      <p class="px-xl-3">
        <i class="fas fa-quote-left pe-2"></i> ${reviewData.description}
      </p>
      <ul class="rating list-unstyled d-flex justify-content-center mb-0">
        ${createStarRating(reviewData.rating)}
      </ul>
    `;

            reviewsRow.appendChild(colDiv);
          });
        } else {
          document.getElementById('reviews-section').style.display = 'none';
        }
      })
  });
</script>
<!-- ----------------------------------------------------------------------- -->